.chat_admin_page {
  display: flex;
  height: 100%;
  width: 100%;
}

.chat_admin_page > .chat_admin_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat_admin_page > .chat_admin_container > .send_field {
  border-radius: 2px;
  display: grid;
  grid-template-columns: 70% 30%;
  height: 10%;
}

.chat_admin_page > .chat_admin_container > .send_field > button {
  background: #333533;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
}

.chat_adm {
  display: flex;
  flex-direction: row;
}

.content_chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}
