.menu_admin {
  background-color: #100f0f;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 20%;
}

.menu_admin > .header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.menu_admin > .header > strong {
  color: white;
  font-size: 1.5em;
}

.menu_admin > .sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu_admin > .sidebar > ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_admin > .sidebar a {
  color: white;
}

.menu_admin > .sidebar > ul > li {
  border: solid 1px white;
  font-size: 1.3em;
  padding: 2%;
  text-align: center;
}

.menu_admin > .sidebar > ul > li:nth-child( 1 ) {
  margin-top: 10%;
}

.menu_admin > .sidebar > ul > li:nth-child( 2 ) {
  margin-top: 10%;
}

.menu_admin > .sidebar > ul > li:nth-child( 3 ) {
  margin-top: 160%;
}
