.formgroup_component {
  display: flex;
  flex-direction: column;
  height: 80px;
  margin: 0.5% 0;
  padding: 1%;
  width: 60%;
}

.formgroup_component > input {
  font-size: 100%;
  font-weight: 500;
}

.formgroup_component > p {
  font-size: 90%;
  font-weight: 500;
}

@media screen and ( max-width : 800px ) {

  .formgroup_component {
    height: 70px;
    width: 70%;
  }
}

@media screen and ( max-width : 500px ) {

  .formgroup_component {
    height: 60px;
    width: 80%;
  }
}
