.message_comp-g5h {
  background-color: #e6e5ea;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 1% 2%;
  padding: 1%;
}

.message_comp-g5h p {
  margin: 0;
}

.message_comp-g5h > .user {
  display: flex;
  font-size: 0.7em;
  margin: 0 1%;
}

.message_comp-g5h > .user > p {
  margin-right: 3%;
}

.message_comp-g5h > .message {
  display: flex;
  justify-content: flex-start;
  padding: 1%;
}
