.orders_page {
  height: 100%;
  width: 100%;
}

.orders_page > .orders {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 4%;
  width: 100%;
}

.orders_page .order {
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
  height: 20%;
  margin-top: 4%;
  padding: 2%;
  width: 100%;
}

.orders_page .order .header {
  align-items: center;
  display: flex;
  height: 40%;
  justify-content: space-between;
  width: 100%;
}

.orders_page .order strong , .orders_page .order p {
  font-size: 1.3em;
  margin: 0 5%;
}
